<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/scripts/cerrar.js"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <title>Leyendas De Costa Ricas</title>
</head>
<body>
    <div class="container_base">
        <div class="bas1">
            <h1 class="page-header text-center">Leyendas de Costa Rica</h1>  
        </div>
        
        <div class="bas2">
            <button id="borrar-cache" class="btn btn-danger">Eliminar Nombre</button>
        </div>
    </div>
    {% block content %}
    
    {% endblock content %} 
</body>
</html>